root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Not currently supported by vscode, but is supported others, e.g. vim.
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
